/* Momcozy 3.0 Design - light mode */
:root {
  --Font-theme-Font-Brand: Exposure[-10];
  --Font-theme-Font-Plain: Aeonik Soft Pro;
  --Font-theme-Weight-Light: Light;
  --Font-theme-Weight-Regular: Regular;
  --Font-theme-Weight-Medium: Medium;
  --Font-theme-Weight-Bold: SemiBold;
  --Typography-Heading-XL-Font: var(--Font-theme-Font-Brand);
  --Typography-Heading-XL-Weight: var(--Font-theme-Weight-Regular);
  --Typography-Heading-XL-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-Heading-XL-Size: var(--Tokens-32);
  --Typography-Heading-XL-Height: var(--Tokens-38);
  --Typography-Heading-XL-Tracking: var(--Tokens-0);
  --Typography-heading-L-Font: var(--Font-theme-Font-Brand);
  --Typography-heading-L-Weight: var(--Font-theme-Weight-Light);
  --Typography-heading-L-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-heading-L-Size: var(--Tokens-24);
  --Typography-heading-L-Tracking: var(--Tokens--2);
  --Typography-heading-L-Height: var(--Tokens-29);
  --Colors-Grays-1000: #000000FF;
  --Colors-Grays-900: #240F1BFF;
  --Colors-Grays-600: #9F969BFF;
  --Colors-Grays-500: #BDB7BAFF;
  --Colors-Grays-300: #D3CFD1FF;
  --Colors-Grays-200: #E4E2E3FF;
  --Colors-Grays-150: #E9E8E7FF;
  --Colors-Grays-100: #F0EEEFFF;
  --Colors-Grays-50: #F9F7F5FF;
  --Colors-Grays-0: #FFFFFFFF;
  --Colors-Grays-White: #FFFFFFFF;
  --Colors-Grays-Black: #000000FF;
  --Colors-Brands-Mom-50: #FFF7F8FF;
  --Colors-Brands-Mom-75: #FFF1F3FF;
  --Colors-Brands-Mom-100: #FFDDE1FF;
  --Colors-Brands-Mom-300: #FFC0CBFF;
  --Colors-Brands-Mom-500: #EE9CA7FF;
  --Colors-Brands-Mom-700: #770523FF;
  --Colors-Brands-Mom-900: #3E0010FF;
  --Colors-Brands-Care-100: #F4F2FFFF;
  --Colors-Brands-Care-300: #C8BDFFFF;
  --Colors-Brands-Care-400: #A490DEFF;
  --Colors-Brands-Care-500: #8568C2FF;
  --Colors-Brands-Care-700: #552C95FF;
  --Colors-Brands-Care-900: #160038FF;
  --Colors-Brands-Parenting-50: #FEFBF1FF;
  --Colors-Brands-Parenting-100: #FFF7BDFF;
  --Colors-Brands-Parenting-200: #FCEE9DFF;
  --Colors-Brands-Parenting-300: #F0CB58FF;
  --Colors-Brands-Parenting-500: #DDA448FF;
  --Colors-Brands-Parenting-700: #7E451FFF;
  --Colors-Brands-Parenting-900: #401B0DFF;
  --Colors-Brands-Family-100: #F0F9F0FF;
  --Colors-Brands-Family-300: #B7E5BAFF;
  --Colors-Brands-Family-400: #5CA87CFF;
  --Colors-Brands-Family-500: #288760FF;
  --Colors-Brands-Family-700: #1A5140FF;
  --Colors-Brands-Family-900: #002D1FFF;
  --Colors-Backgrouds-Primary: var(--Colors-Grays-50);
  --Colors-Border-Width-Primary: var(--Tokens-0,5);
  --Colors-Border-Width-Secondary: var(--Tokens-0,5);
  --Colors-Border-Primary: var(--Colors-Grays-200);
  --Colors-Border-Secondary: var(--Colors-Grays-100);
  --Colors-Backgrouds-Secondary: var(--Colors-Grays-0);
  --Colors-Text-color-text-primary: var(--Colors-Grays-900);
  --Colors-Text-color-text-secondary: var(--Colors-Grays-600);
  --Colors-Text-color-text-tertiary: var(--Colors-Grays-500);
  --Colors-Text-color-text-quaternary: var(--Colors-Grays-200);
  --Colors-Text-color-text-inverse: var(--Colors-Grays-0);
  --opacity--0: var(--0);
  --opacity--0-05: var(--5);
  --opacity--0-1: var(--10);
  --opacity--0-15: var(--15);
  --opacity--0-2: var(--20);
  --opacity--0-25: var(--25);
  --opacity--0-3: var(--30);
  --opacity--0-35: var(--35);
  --opacity--0-4: var(--40);
  --opacity--0-45: var(--45);
  --opacity--0-5: var(--50);
  --opacity--0-55: var(--55);
  --opacity--0-6: var(--60);
  --opacity--0-65: var(--65);
  --opacity-70: var(--70);
  --opacity--0-75: var(--75);
  --opacity-80: var(--80);
  --opacity--0-85: var(--85);
  --opacity--0-9: var(--90);
  --opacity--0-95: var(--95);
  --opacity--1: var(--100);
  --Spacing-Heights-h-0: var(--0);
  --Spacing-Heights-h-px: var(--1);
  --Spacing-Heights-h-0,5: var(--2);
  --Spacing-Heights-h-1: var(--4);
  --Spacing-Heights-h-2: var(--8);
  --Spacing-Heights-h-2,5: var(--10);
  --Spacing-Heights-h-3: var(--12);
  --Spacing-Heights-h-3,5: var(--14);
  --Spacing-Heights-h-4: var(--16);
  --Spacing-Heights-h-5: var(--20);
  --Spacing-Heights-h-6: var(--24);
  --Spacing-Heights-h-7: var(--28);
  --Spacing-Heights-h-8: var(--32);
  --Spacing-Heights-h-9: var(--36);
  --Spacing-Heights-h-10: var(--40);
  --Spacing-Heights-h-12: var(--48);
  --Spacing-Heights-h-14: var(--56);
  --Spacing-Heights-h-16: var(--64);
  --Spacing-Heights-h-18: var(--72);
  --Spacing-Heights-h-20: var(--80);
  --Spacing-Heights-h-24: var(--96);
  --Spacing-Heights-h-48: var(--192);
  --Spacing-Heights-h-72: var(--288);
  --Spacing-Heights-h-96: var(--384);
  --Spacing-Widths-w-0: var(--0);
  --Spacing-Widths-w-0,5: var(--2);
  --Spacing-Widths-w-1: var(--4);
  --Spacing-Widths-w-10: var(--40);
  --Spacing-Widths-w-12: var(--48);
  --Spacing-Widths-w-14: var(--56);
  --Spacing-Widths-w-16: var(--64);
  --Spacing-Widths-w-18: var(--72);
  --Spacing-Widths-w-2: var(--8);
  --Spacing-Widths-w-2,5: var(--10);
  --Spacing-Widths-w-20: var(--80);
  --Spacing-Widths-w-24: var(--96);
  --Spacing-Widths-w-3: var(--12);
  --Spacing-Widths-w-3,5: var(--14);
  --Spacing-Widths-w-4: var(--16);
  --Spacing-Widths-w-48: var(--192);
  --Spacing-Widths-w-5: var(--20);
  --Spacing-Widths-w-6: var(--24);
  --Spacing-Widths-w-7: var(--28);
  --Spacing-Widths-w-72: var(--288);
  --Spacing-Widths-w-8: var(--32);
  --Spacing-Widths-w-9: var(--36);
  --Spacing-Widths-w-96: var(--384);
  --Spacing-Widths-w-px: var(--1);
  --Radius-none: var(--Tokens-0);
  --Shadows-shadow-hairline: var(--Tokens-0);
  --Shadows-shadow-100: var(--Tokens-2);
  --Shadows-shadow-100-strong: var(--Tokens-4);
  --Shadows-shadow-100-stronger: var(--Tokens-8);
  --Shadows-shadow-200: var(--Tokens-10);
  --Shadows-shadow-200-strong: var(--Tokens-12);
  --Shadows-shadow-200-stronger: var(--Tokens-16);
  --Shadows-shadow-300: var(--Tokens-24);
  --Shadows-shadow-300-strong: var(--Tokens-32);
  --Shadows-shadow-400: var(--9999);
  --Shadows-shadow-400-strong: var(--9999);
  --Shadows-shadow-400-stronger: var(--9999);
  --Status-Info-25: #58244340;
  --Status-Info-50: #58244380;
  --Status-Info-75: #582443BF;
  --Status-Warning-25: #F3824540;
  --Status-Warning-50: #F3824580;
  --Status-Warning-75: #F38245BF;
  --Status-Caution-25: #F3824540;
  --Status-Caution-50: #F3824580;
  --Status-Caution-75: #F38245BF;
  --Status-Danger-25: #D2030740;
  --Status-Danger-50: #D2030780;
  --Status-Danger-75: #D20307BF;
  --Status-Success-25: #009E3D40;
  --Status-Success-50: #009E3D80;
  --Status-Success-75: #009E3DBF;
  --Status-Discovery-25: #8568C240;
  --Status-Discovery-50: #8568C280;
  --Status-Discovery-75: #8568C2BF;
  --Tokens--2: -2px;
  --Tokens--0,8: -0.800000011920929px;
  --Tokens--0,4: -0.4000000059604645px;
  --Tokens-0: 0px;
  --Tokens-0,4: 0.4000000059604645px;
  --Tokens-0,5: 0.5px;
  --Tokens-0,75: 0.75px;
  --Tokens-0,8: 0.800000011920929px;
  --Tokens-1: 1px;
  --Tokens-1,25: 1.25px;
  --Tokens-1,5: 1.5px;
  --Tokens-1,6: 1.600000023841858px;
  --Tokens-1,75: 1.75px;
  --Tokens-2: 2px;
  --Tokens-2,25: 2.25px;
  --Tokens-2,5: 2.5px;
  --Tokens-2,75: 2.75px;
  --Tokens-3: 3px;
  --Tokens-4: 4px;
  --Tokens-5: 5px;
  --Tokens-6: 6px;
  --Tokens-8: 8px;
  --Tokens-10: 10px;
  --Tokens-12: 12px;
  --Tokens-13: 13px;
  --Tokens-14: 14px;
  --Tokens-15: 15px;
  --Tokens-16: 16px;
  --Tokens-17: 17px;
  --Tokens-18: 18px;
  --Tokens-20: 20px;
  --Tokens-22: 22px;
  --Tokens-24: 24px;
  --Tokens-25: 25px;
  --Tokens-26: 26px;
  --Tokens-28: 28px;
  --Tokens-29: 29px;
  --Tokens-30: 30px;
  --Tokens-32: 32px;
  --Tokens-35: 35px;
  --Tokens-36: 36px;
  --Tokens-38: 38px;
  --Tokens-40: 40px;
  --Tokens-44: 44px;
  --Tokens-45: 45px;
  --Tokens-48: 48px;
  --Tokens-50: 50px;
  --Tokens-55: 55px;
  --Tokens-56: 56px;
  --Tokens-60: 60px;
  --Tokens-64: 64px;
  --Tokens-65: 65px;
  --Tokens-70: 70px;
  --Tokens-72: 72px;
  --Tokens-75: 75px;
  --Tokens-80: 80px;
  --Tokens-85: 85px;
  --Tokens-90: 90px;
  --Tokens-95: 95px;
  --Tokens-96: 96px;
  --Tokens-100: 100px;
  --Tokens-112: 112px;
  --Tokens-128: 128px;
  --Tokens-144: 144px;
  --Tokens-160: 160px;
  --Tokens-176: 176px;
  --Tokens-192: 192px;
  --Tokens-200: 200px;
  --Tokens-208: 208px;
  --Tokens-224: 224px;
  --Tokens-240: 240px;
  --Tokens-256: 256px;
  --Tokens-288: 288px;
  --Tokens-300: 300px;
  --Tokens-320: 320px;
  --Tokens-384: 384px;
  --Tokens-400: 400px;
  --Tokens-448: 448px;
  --Tokens-500: 500px;
  --Tokens-512: 512px;
  --Tokens-576: 576px;
  --Tokens-600: 600px;
  --Tokens-640: 640px;
  --Tokens-672: 672px;
  --Tokens-700: 700px;
  --Tokens-768: 768px;
  --Tokens-800: 800px;
  --Tokens-896: 896px;
  --Tokens-900: 900px;
  --Tokens-1024: 1024px;
  --Tokens-1152: 1152px;
  --Tokens-1280: 1280px;
  --Tokens-1536: 1536px;
  --Tokens-9999: 9999px;
  --Radius-xs: var(--Tokens-2);
  --Radius-sm: var(--Tokens-4);
  --Radius-md: var(--Tokens-8);
  --Radius-lg: var(--Tokens-10);
  --Radius-xl: var(--Tokens-12);
  --Radius-2xl: var(--Tokens-16);
  --Radius-3xl: var(--Tokens-24);
  --Radius-4xl: var(--Tokens-32);
  --Radius-full: var(--9999);
  --radius-full: var(--9999);
  --Colors-Semantic-Fills-Mom-Primary: var(--Colors-Brands-Mom-700);
  --Colors-Semantic-Fills-Mom-Secondary: var(--Colors-Grays-0);
  --Colors-Semantic-Fills-Mom-Disabled: var(--Colors-Grays-200);
  --Colors-Semantic-Fills-Mom-Pressed: var(--Colors-Brands-Mom-900);
  --Colors-Semantic-Fills-Care-Default: var(--Colors-Brands-Care-700);
  --Colors-Semantic-Fills-Care-Secondary: var(--Colors-Grays-0);
  --Colors-Semantic-Fills-Care-Disabled: var(--Colors-Grays-200);
  --Colors-Semantic-Fills-Care-Pressed: var(--Colors-Brands-Care-900);
  --Colors-Semantic-Fills-Parenting-Default: var(--Colors-Brands-Parenting-700);
  --Colors-Semantic-Fills-Parenting-Secondary: var(--Colors-Grays-0);
  --Colors-Semantic-Fills-Parenting-Disabled: var(--Colors-Grays-200);
  --Colors-Semantic-Fills-Parenting-Pressed: var(--Colors-Brands-Parenting-900);
  --Colors-Semantic-Fills-Family-Default: var(--Colors-Brands-Family-700);
  --Colors-Semantic-Fills-Family-Secondary: var(--Colors-Grays-0);
  --Colors-Semantic-Fills-Family-Disabled: var(--Colors-Grays-200);
  --Colors-Semantic-Fills-Family-Pressed: var(--Colors-Brands-Family-900);
  --Colors-Semantic-Labels-Mom-Primary: var(--Colors-Grays-0);
  --Colors-Semantic-Labels-Mom-Secondary: var(--Colors-Brands-Mom-700);
  --Colors-Semantic-Labels-Mom-Disabled: var(--Colors-Grays-500);
  --Colors-Semantic-Labels-Mom-Pressed-Color: var(--Colors-Grays-Black);
  --Colors-Semantic-Labels-Mom-Pressed-Opacity: var(--Opacity-opacity-20);
  --Colors-Semantic-Labels-Care-Primary: var(--Colors-Grays-0);
  --Colors-Semantic-Labels-Care-Secondary: var(--Colors-Brands-Care-700);
  --Colors-Semantic-Labels-Care-Disabled: var(--Colors-Grays-500);
  --Colors-Semantic-Labels-Care-Pressed-Color: var(--Colors-Grays-Black);
  --Colors-Semantic-Labels-Care-Pressed-Opacity: var(--Opacity-opacity-20);
  --Colors-Semantic-Labels-Parenting-Primary: var(--Colors-Grays-0);
  --Colors-Semantic-Labels-Parenting-Secondary: var(--Colors-Brands-Parenting-700);
  --Colors-Semantic-Labels-Parenting-Disabled: var(--Colors-Grays-500);
  --Colors-Semantic-Labels-Parenting-Pressed-Color: var(--Colors-Grays-Black);
  --Colors-Semantic-Labels-Parenting-Pressed-Opacity: var(--Opacity-opacity-20);
  --Colors-Semantic-Labels-Family-Primary: var(--Colors-Grays-0);
  --Colors-Semantic-Labels-Family-Secondary: var(--Colors-Brands-Family-700);
  --Colors-Semantic-Labels-Family-Disabled: var(--Colors-Grays-500);
  --Typography-heading-M-Font: var(--Font-theme-Font-Brand);
  --Typography-heading-M-Weight: var(--Font-theme-Weight-Regular);
  --Typography-heading-M-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-heading-M-Size: var(--Tokens-20);
  --Typography-heading-M-Tracking: var(--Tokens-0);
  --Typography-heading-M-Height: var(--Tokens-26);
  --Typography-heading-S-Font: var(--Font-theme-Font-Brand);
  --Typography-heading-S-Weight: var(--Font-theme-Weight-Regular);
  --Typography-heading-S-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-heading-S-Size: var(--Tokens-20);
  --Typography-heading-S-Tracking: var(--Tokens-0);
  --Typography-heading-S-Height: var(--Tokens-26);
  --Typography-titleXL-medium-Font: var(--Font-theme-Font-Plain);
  --Typography-titleXL-medium-Weight: var(--Font-theme-Weight-Medium);
  --Typography-titleXL-medium-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-titleXL-medium-Size: var(--Tokens-24);
  --Typography-titleXL-medium-Tracking: var(--Tokens-2);
  --Typography-titleXL-medium-Height: var(--Tokens-29);
  --Typography-titleL-medium-Font: var(--Font-theme-Font-Plain);
  --Typography-titleL-medium-Weight: var(--Font-theme-Weight-Medium);
  --Typography-titleL-medium-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-titleL-medium-Size: var(--Tokens-18);
  --Typography-titleL-medium-Tracking: var(--Tokens-2);
  --Typography-titleL-medium-Height: var(--Tokens-22);
  --Typography-titleM-medium-Font: var(--Font-theme-Font-Plain);
  --Typography-titleM-medium-Weight: var(--Font-theme-Weight-Medium);
  --Typography-titleM-medium-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-titleM-medium-Size: var(--Tokens-16);
  --Typography-titleM-medium-Tracking: var(--Tokens-2);
  --Typography-titleM-medium-Height: var(--Tokens-22);
  --Typography-titleM-regular-Font: var(--Font-theme-Font-Plain);
  --Typography-titleM-regular-Weight: var(--Font-theme-Weight-Regular);
  --Typography-titleM-regular-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-titleM-regular-Size: var(--Tokens-16);
  --Typography-titleM-regular-Tracking: var(--Tokens-2);
  --Typography-titleM-regular-Height: var(--Tokens-22);
  --Typography-bodyL-regular-Font: var(--Font-theme-Font-Plain);
  --Typography-bodyL-regular-Weight: var(--Font-theme-Weight-Regular);
  --Typography-bodyL-regular-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-bodyL-regular-Size: var(--Tokens-16);
  --Typography-bodyL-regular-Tracking: var(--Tokens-0);
  --Typography-bodyL-regular-Height: var(--Tokens-22);
  --Typography-bodyM-medium-Font: var(--Font-theme-Font-Plain);
  --Typography-bodyM-medium-Weight: var(--Font-theme-Weight-Medium);
  --Typography-bodyM-medium-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-bodyM-medium-Size: var(--Tokens-14);
  --Typography-bodyM-medium-Tracking: var(--Tokens-2);
  --Typography-bodyM-medium-Height: var(--Tokens-18);
  --Typography-bodyM-regular-Font: var(--Font-theme-Font-Plain);
  --Typography-bodyM-regular-Weight: var(--Font-theme-Weight-Regular);
  --Typography-bodyM-regular-Weight-emphasized: var(--Font-theme-Weight-Medium);
  --Typography-bodyM-regular-Size: var(--Tokens-14);
  --Typography-bodyM-regular-Tracking: var(--Tokens-2);
  --Typography-bodyM-regular-Height: var(--Tokens-20);
  --Typography-bodyS-medium-Font: var(--Font-theme-Font-Plain);
  --Typography-bodyS-medium-Weight: var(--Font-theme-Weight-Medium);
  --Typography-bodyS-medium-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-bodyS-medium-Size: var(--Tokens-12);
  --Typography-bodyS-medium-Tracking: var(--Tokens-2);
  --Typography-bodyS-medium-Height: var(--Tokens-18);
  --Typography-bodyS-regular-Font: var(--Font-theme-Font-Plain);
  --Typography-bodyS-regular-Weight: var(--Font-theme-Weight-Medium);
  --Typography-bodyS-regular-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-bodyS-regular-Size: var(--Tokens-12);
  --Typography-bodyS-regular-Tracking: var(--Tokens-2);
  --Typography-bodyS-regular-Height: var(--Tokens-18);
  --Typography-captionM-medium-Font: var(--Font-theme-Font-Plain);
  --Typography-captionM-medium-Weight: var(--Font-theme-Weight-Medium);
  --Typography-captionM-medium-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-captionM-medium-Size: var(--Tokens-10);
  --Typography-captionM-medium-Tracking: var(--Tokens-2);
  --Typography-captionM-medium-Height: var(--Tokens-17);
  --Typography-captionM-regular-Font: var(--Font-theme-Font-Plain);
  --Typography-captionM-regular-Weight: var(--Font-theme-Weight-Medium);
  --Typography-captionM-regular-Weight-emphasized: var(--Font-theme-Weight-Bold);
  --Typography-captionM-regular-Size: var(--Tokens-10);
  --Typography-captionM-regular-Tracking: var(--Tokens-2);
  --Typography-captionM-regular-Height: var(--Tokens-14);
}
